.explore_img{
    width: 40%;
}
.explore_info{
    background-color: #F4FAFD;
    width: 60%;
}
.my_carousel_img{
    /* background-image: linear-gradient(rgb(78, 78, 78), rgb(112, 112, 112)); */
    /* background-image: gray; */
    filter: brightness(50%);
}
@media only screen and (max-width: 767px) {
    .carousel-inner{
        height: 450px;
    }
    .explore_img {
        width: 100%;
    }
    
    .explore_info {
        background-color: #F4FAFD;
        width: 100%;
    }
    
}