.explore_img{
    width: 40%;
}
.explore_info{
    background-color: #F4FAFD;
    width: 60%;
}
.my_header{
    margin-top: 100px;
}
.my_spacing{
    margin-top: 100px;
    margin-bottom: 100px;
}
.my_carousel_img{
    filter: brightness(50%);
}
@media only screen and (max-width: 767px) {
    .carousel-inner{
        height: 450px;
    }
    .explore_img {
        width: 100%;
    }
    
    .explore_info {
        background-color: #F4FAFD;
        width: 100%;
    }
    
}